/.github/
# `deploy.sh` is a local script used by @sharkdp to push the latest version of
# Insect to https://insect.sh.
/deploy.sh
/docs/*.md
/docs/*.sh
/docs/template.readme
/node_modules/
/output
/web
/benchmarks/results/
/benchmarks/results.json
/benchmarks/results.md
