/*.css
/*.html
/.psci*
/.pulp-cache
/.travis.yml
/DEMO
/INTERACTIVE_TESTS
/TODO
/bower.json
/bower_components/
/deploy.sh
/insect.js
/media
/node_modules/
/opensearch.xml
/output/*/externs.json
/src
/test
