html, body {
    font-family: 'Exo 2', sans-serif;
    background-color: #ECF0F1;
}

body {
    font-size: 1.2em;
    margin: 0px;
}

#content {
    max-width: 90%;
    width: 850px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

h1 {
    font-weight: 400;
    font-size: 3em;
    line-height: 100%;
    margin-bottom: 0;
    padding: 0;
}

p.desc {
    margin-top: 0.6em;
    margin-bottom: 1.8em;
}

#terminal {
    border-radius: 4px;
    box-shadow: 0px 3px 8px #1a1a1a;
}
