html, body {
    font-family: 'Exo 2', sans-serif;
    background-color: #ECF0F1;
}

body {
    margin: 30px;
    font-size: 1.2em;
}

p.desc {
    margin-top: 0.6em;
    margin-bottom: 1.8em;
}

h1 {
    font-weight: 400;
    font-size: 3em;
    line-height: 100%;
    margin-bottom: 0;
    padding: 0;
}

div.repl {
    word-wrap: break-word;
    font-family: 'Fira Mono', monospace;
}

div.repl div.jquery-console-inner {
    width: 900px;
    max-width: 90%;
    height: 480px;
    background-color: #272822;
    padding: 1em;
    overflow: auto;
    border-radius: 4px;
    box-shadow: 0px 3px 8px #1a1a1a;
}

div.repl div.jquery-console-prompt-box {
    color: #F8F8F2;
}

div.repl div.jquery-console-focus span.jquery-console-cursor {
    background: #F8F8F2;
    color: #333;
    font-weight: bold
}

div.repl div.jquery-console-message {
    padding-bottom: 1em;
    padding-top: 0.1em;
}

div.repl div.jquery-console-message-error {
    color: #F92672;
}

div.repl div.jquery-console-message-value {
    color: #66D9EF;
}

div.repl div.jquery-console-message-info {
    color: #E6DB74;
}

div.repl span.jquery-console-prompt-label {
    font-weight: bold;
}

div.repl div.jquery-console-welcome {
    color: #75715E;
}
